{{>layout/header}}
<div>
    <h3>메뉴 만들기</h3>
    <h4>환영합니다. 원하시는 카페와 인원수를 입력해주세요</h4>
</div>
<form class = "container" action="/makelist/create" method="post">
    <div class="mb-3">
        <label class="form-label">카페 이름</label>
        <select class="form-select" name="cafe_name">
            <option selected>원하시는 카페를 선택해주세요.</option>
            <option value="스타벅스">스타벅스</option>
            <option value="더카페">더카페</option>
            <option value="코앤커피">코앤커피</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">인원수</label>
        <input type="number" class="form-control" name="user_num">
    </div>
    <button type="button" class = "btn btn-danger" id="btn_back">Back</button>
    <button type="submit" class = "btn btn-primary">Submit</button>
</form>
<!--<div>-->
<!--    <h1>메뉴 만들기</h1>-->
<!--    <h2>환영합니다. 원하시는 카페와 인원수를 입력해주세요</h2>-->
<!--</div>-->
<!--<div>-->
<!--    <p>카페 이름</p>-->
<!--    <div>-->
<!--        <select id="cafelist" aria-label="Default select example">-->
<!--            <option selected>원하시는 카페를 선택해주세요.</option>-->
<!--            <option value="01">스타벅스</option>-->
<!--            <option value="02">더카페</option>-->
<!--            <option value="03">코앤커피</option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>인원수</p>-->
<!--        <input type='number' id='usernumber'/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="button" id="btn_makelist" value="만들기">-->
<!--    </div>-->
<!--</div>-->
{{>layout/footer}}