{{>layout/header}}
<div>
    <h3>메뉴 만들기가 완료되었습니다.</h3>
    <h4>홈화면으로 이동하길 원하신다면 버튼을 눌러주세요.</h4>
</div>
<div>
    <button type="button" class = "btn btn-primary" id="btn_back">home</button>
</div>
{{>layout/footer}}