{{>layout/header}}
<h1>메뉴 조회하기 & 메뉴 만들기</h1>
<!--목록 추가 영역-->
<div>
    <button type="button" class = "btn btn-secondary" id="btn_make_menu">내 메뉴 만들기</button>
</div>
<table class = "table table-horiziontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>메뉴 번호</th>
        <th>이름</th>
        <th>메뉴 1</th>
        <th>메뉴 2</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{list_idx}}</td>
            <td>{{user_name}}</td>
            <td>{{coffee_name_1}}</td>
            <td>{{coffee_name_2}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
<button type="button" class = "btn btn-danger" id="btn_back_makemenu">Back</button>
{{>layout/footer}}