{{>layout/header}}
<h1>메뉴 조회하기 & 메뉴 만들기</h1>
<!--목록 추가 영역-->
<table class = "table table-horiziontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>메뉴 번호</th>
        <th>이름</th>
        <th>메뉴 1</th>
        <th>메뉴 2</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{idx}}</td>
            <td>{{cafe_name}}</td>
            <td>{{user_num}}</td>
            <td>{{made_by}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
<button type="button" class = "btn btn-danger" id="btn_back">Back</button>
{{>layout/footer}}