{{>layout/header}}
<h1>메뉴 조회하기</h1>
<!--목록 추가 영역-->
<table class = "table table-horiziontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>메뉴 번호</th>
        <th>제목</th>
        <th>작성자</th>
    </tr>
    </thead>
</table>
{{>layout/footer}}